@import url(http://fonts.googleapis.com/css?family=Metrophobic);

body {
    font-family: Metrophobic, Calibri, Tahoma, Helvetica;
    background-image: url(../images/snow-landscape.svg);
}

a {
    text-decoration: none !important;
}

fieldset {
    border: 2px groove silver;
    border-radius: 4px;
    margin: 0;
    padding: 0;
}

fieldset legend {
    margin-left: 50px;
    padding: 0 5px 0 5px;
}

.maincontainer {
    margin: 30px 0 0 130px;
}

.tickercontainer {
    width: 100%;
    overflow: hidden;
    height: 75px;
    margin-top: 50px;
}

#ticker {
    width: 100%;
    font-size: 32pt;
    font-family: Comic Sans MS, Calibri, Tahoma, Helvetica;
    text-align: center;
    font-weight: bold;
    color: #636466;
    line-height: normal;
    position: relative;
    display: none;
}

.mailIcon {
    width: 37px;
    height: 37px;
}

#mailus div {
    display: inline-block;
    position: relative;
    /*margin-right: 10px;*/
}

#mailus>div>:first-child {
    margin-left: 50px;
}

#mailall {
    margin-right: 50px;
}

.footercontainer {
    position: fixed;
    bottom: 0;
    height: 70px;
    width: 100%;
    z-index: 99999;
    overflow: hidden;
    margin: 0;
    border: none;
}

.footer {
    position: relative;
    height: 65px;
    margin: 0 20px 0 20px;
    background-image: -webkit-gradient(
        linear, left top, left bottom, from(rgba(255,255,255,0.3)),
        to(rgba(255,255,255,0.9)));
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.9) 100%);
}

.picturebox {
    /*height: 450px;*/
    width: 100%;
    position: relative;
}

.picturebox img {
    width: 144px;
    position: relative;
    opacity: 0;
    -moz-box-shadow: 0 0 4px 1px #ddf;
    -webkit-box-shadow: 0 0 4px 1px #ddf;
    box-shadow: 0 0 4px 1px #ddf;
    /*border-top: 5px solid #ddd;*/
    /*border-bottom: 5px solid #ddd;*/
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}

#preview {
    z-index: 999999999;
    position: absolute;
    -moz-box-shadow: 0 0 4px 1px #ddf;
    -webkit-box-shadow: 0 0 4px 1px #ddf;
    box-shadow: 0 0 4px 1px #ddf;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.rotate-33 {
    -moz-transform: rotate(-33deg); /* FF3.5+ */
    -o-transform: rotate(-33deg); /* Opera 10.5 */
    -webkit-transform: rotate(-33deg); /* Saf3.1+, Chrome */
    -ms-transform: rotate(-33deg); /* IE9 */
    transform: rotate(-33deg);
    zoom: 1;
}

.rotate66 {
    -moz-transform: rotate(66deg); /* FF3.5+ */
    -o-transform: rotate(66deg); /* Opera 10.5 */
    -webkit-transform: rotate(66deg); /* Saf3.1+, Chrome */
    -ms-transform: rotate(66deg); /* IE9 */
    transform: rotate(66deg);
    zoom: 1;
}

.rotate33 {
    -moz-transform: rotate(33deg); /* FF3.5+ */
    -o-transform: rotate(33deg); /* Opera 10.5 */
    -webkit-transform: rotate(33deg); /* Saf3.1+, Chrome */
    -ms-transform: rotate(33deg); /* IE9 */
    transform: rotate(33deg);
    zoom: 1;
}

.rotate-15 {
    -moz-transform: rotate(-15deg); /* FF3.5+ */
    -o-transform: rotate(-15deg); /* Opera 10.5 */
    -webkit-transform: rotate(-15deg); /* Saf3.1+, Chrome */
    -ms-transform: rotate(-15deg); /* IE9 */
    transform: rotate(-15deg);
    zoom: 1;
}

.rotate-150 {
    -moz-transform: rotate(-150deg); /* FF3.5+ */
    -o-transform: rotate(-150deg); /* Opera 10.5 */
    -webkit-transform: rotate(-150deg); /* Saf3.1+, Chrome */
    -ms-transform: rotate(-150deg); /* IE9 */
    transform: rotate(-150deg);
    zoom: 1;
}

/* navigation */

ul.nav-igation {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 50px;
    left: 0px;
    list-style: none;
    z-index: 9999;
}

ul.nav-igation li {
    width: 125px;
    /*text-align: center;*/
}

ul.nav-igation li a {
    display: block;
    margin-left: -2px;
    width: 125px;
    height: 70px;
    background-color: #CFCFCF;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #AFAFAF;
    text-decoration: none;
    color: black;
    -moz-border-radius: 0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    opacity: 0.6;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 60);
}

ul.nav-igation li a div img {
    margin: 5px 0 0 25px;
    display: block;
    width: 32px;
    height: 32px;
}

ul.nav-igation li a div p {
    display: block;
    margin: 5px 0 0 25px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
    height: 10px;
    display: block;
    background-color: transparent;
}

::-webkit-scrollbar-track-piece {
    background-color: #3b3b3b;
    -webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: #666;
    border: 1px solid #eee;
    -webkit-border-radius: 6px;
}
